{% if page.edit_link %}
<div class="page-edit-link">
	<a class="page-edit-link" target="_blank" href="https://gitlab.com/-/ide/project/{{ site.repository }}/edit/master/-/{{ page.path }}">
		{{ site.data.text[site.locale].improve_this_page | default: "Improve this Page" }}
	</a>
</div>
{% endif %}
