{% if entry.id %}
  {% assign title = entry.title | markdownify | strip_html %}
{% else %}
  {% assign title = entry.title %}
{% endif %}

<article class="entry h-entry">
  <header class="entry-header">
    <h3 class="entry-title p-name">
      {% if entry.link %}
        <a class="u-bookmark-of" href="{{ entry.link }}">{{ title }} <span class="link-arrow">&rarr;</span>
      {% else %}
        <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ title }}
      {% endif %}
    </h3>
    {% unless page.show_thumbnails == false %}
      {% if entry.image.thumbnail %}
        {% assign entry_image = entry.image.thumbnail %}
        {% unless entry_image contains '://' %}
          {% assign entry_image = entry_image | relative_url %}
        {% endunless %}
        {% assign entry_image = entry_image | escape %}
        <img class="entry-image u-photo" src="{{ entry_image }}" alt="">
      {% endif %}
    {% endunless %}
      </a>
  </header>
  {% unless page.show_excerpts == false %}
    <div class="entry-excerpt p-summary">
      {% if entry.excerpt %}
        {{ entry.excerpt | markdownify }}
        <div class="more-link">
          <a href="{{ entry.url | relative_url }}">{{ site.data.text[site.locale].read_more | default: 'Read More' }}</a>
        </div>
      {% endif %}
    </div>
  {% endunless %}
  {% unless page.show_dates == false %}
    {% if site.read_time or entry.date %}
      <footer class="entry-meta">
        {% if site.read_time %}{% include read-time.html %}{% endif %}
        {% if entry.date %}{% include entry-date.html %}{% endif %}
      </footer>
    {% endif %}
  {% endunless %}
</article>
