---
---

.page-edit-link {
  font-size: 0.90em;
/*  font-family: $meta-font-family;*/
  font-family: $serif-font-family;
  font-style: italic;
  white-space: nowrap;
  text-decoration: none;
  float: right;
}

.new-recipe {
  font-size: 1.30em;
/*  font-family: $meta-font-family;*/
  font-family: $serif-font-family;
  font-style: italic;
  white-space: nowrap;
  text-decoration: none;
  align: right;
  text-align: right;
  width: 100%;
  padding: 0px 0px 50px 30px;
}

